{% extends 'core/base.html' %}
{% load static %} {% block tittle %} Home {%endblock %}

{% block principal %}
<!-- Caracteristicas -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fa fa-check text-success m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Componentes de calidad</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fa fa-shipping-fast text-success m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Envíos a todo Chile</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fas fa-exchange-alt text-success m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Garantía y devolución</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fa fa-headset text-success m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Soporte técnico 24/7</h5>
      </div>
    </div>
  </div>
</div>

<!-- Offertas -->
<div class="container-fluid offer pt-5">
   <div class="row px-xl-5">

    <!-- Oferta PC Gamer -->
    <div class="col-md-6 pb-4">
      <div
        class="position-relative bg-dark text-center text-md-right text-white mb-2 py-5 px-5 rounded-lg overflow-hidden">
        <img src="{% static 'core/img/ofertas_pc_gamer.webp' %}" alt="PC Gamer" class="position-absolute w-100 h-100"
          style="object-fit: cover; opacity: 0.5; top: 0; left: 0;">
        <div class="position-relative" style="z-index: 1;">
          <h5 class="text-uppercase text-success mb-3">Hasta 20% OFF</h5>
          <h1 id="ofertas_pc_gamer_text" class="mb-4 font-weight-semi-bold">Equipos Gamer Listos</h1>
          <a href="{% url 'tienda' %}" class="btn btn-outline-success py-md-2 px-md-3">Ver Ofertas</a>
        </div>    
      </div>
    </div>

    <!-- Oferta Accesorios -->
    <div class="col-md-6 pb-4">
      <div
        class="position-relative bg-dark text-center text-md-left text-white mb-2 py-5 px-5 rounded-lg overflow-hidden">
        <img src="{% static 'core/img/ofertas_perifericos.webp' %}" alt="Periféricos"
          class="position-absolute w-100 h-100" style="object-fit: cover; opacity: 0.25; top: 0; left: 0;">
        <div class="position-relative" style="z-index: 1;">
          <h5 class="text-uppercase text-success mb-3">Descuentos exclusivos</h5>
          <h1 id="ofertas_pc_gamer_text" class="mb-4 font-weight-semi-bold">Accesorios & Periféricos</h1>
          <a href="{% url 'tienda' %}" class="btn btn-outline-success py-md-2 px-md-3">Comprar Ahora</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Categorias -->
<div class="container-fluid pt-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5">
      <span class="px-2">Categorías principales</span>
    </h2>
  </div>
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px">
        <a href="#" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="{% static 'core/img/cpu.webp' %}" alt="Procesadores" />
        </a>
        <h5 class="font-weight-semi-bold m-0">Procesadores (CPU)</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px">
        <a href="#" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid"  
            src="{% static 'core/img/Cómo-entender-las-especificaciones-de-la-tarjeta-gráfica-3.jpg' %}"
            alt="Tarjetas Gráficas" />
        </a>
        <h5 class="font-weight-semi-bold m-0">Tarjetas Gráficas (GPU)</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px">
        <a href="#" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid"
            src="{% static 'core/img/placa-base-caracteristicas-funciones-variantes_gxmiph.webp' %}"
            alt="Placas Madre" />
        </a>
        <h5 class="font-weight-semi-bold m-0">Placas Madre</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px">
        <a href="#" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="{% static 'core/img/ram.webp' %}" alt="RAM" />
        </a>
        <h5 class="font-weight-semi-bold m-0">Memoria RAM</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px">
        <a href="#" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="{% static 'core/img/samsung_ssd.webp' %}"
            alt="SSD / HDD" />
        </a>
        <h5 class="font-weight-semi-bold m-0">Almacenamiento</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px">
        <a href="#" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="{% static 'core/img/psg105071011690914311_480x480.webp' %}"
            alt="Fuentes de poder" />
        </a>
        <h5 class="font-weight-semi-bold m-0">Fuentes de Poder</h5>
      </div>
    </div>
  </div>
</div>

<!-- Marcas o Proveedores -->
<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="col">
      <div class="owl-carousel vendor-carousel">
        <div class="vendor-item border p-4 h-100 d-flex align-items-center justify-content-center"
          style="height: 100px;">
          <img src="{% static 'core/img/asus_logo.webp' %}" alt="ASUS" class="img-fluid"
            style="max-height: 100%; max-width: 100%; width: auto; object-fit: contain;" />
        </div>
        <div class="vendor-item border p-4 h-100 d-flex align-items-center justify-content-center"
          style="height: 100px;">
          <img src="{% static 'core/img/msi_logo.webp' %}" alt="MSI" class="img-fluid"
            style="max-height: 100%; max-width: 100%; width: auto; object-fit: contain;" />
        </div>
        <div class="vendor-item border p-4 h-100 d-flex align-items-center justify-content-center"
          style="height: 100px;">
          <img src="{% static 'core/img/gigabyte_logo.webp' %}" alt="Gigabyte" class="img-fluid"
            style="max-height: 100%; max-width: 100%; width: auto; object-fit: contain;" />
        </div>
        <div class="vendor-item border p-4 h-100 d-flex align-items-center justify-content-center"
          style="height: 100px;">
          <img src="{% static 'core/img/corsair_logo.webp' %}" alt="Corsair" class="img-fluid"
            style="max-height: 100%; max-width: 100%; width: auto; object-fit: contain;" />
        </div>
        <div class="vendor-item border p-4 h-100 d-flex align-items-center justify-content-center"
          style="height: 100px;">
          <img src="{% static 'core/img/kingston_logo.webp' %}" alt="Kingston" class="img-fluid"
            style="max-height: 100%; max-width: 100%; width: auto; object-fit: contain;" />
        </div>
        <div class="vendor-item border p-4 h-100 d-flex align-items-center justify-content-center"
          style="height: 100px;">
          <img src="{% static 'core/img/nvidia_logo.webp' %}" alt="NVIDIA" class="img-fluid"
            style="max-height: 100%; max-width: 100%; width: auto; object-fit: contain;" />
        </div>
        <div class="vendor-item border p-4 h-100 d-flex align-items-center justify-content-center"
          style="height: 100px;">
          <img src="{% static 'core/img/intel_logo.webp' %}" alt="Intel" class="img-fluid"
            style="max-height: 100%; max-width: 100%; width: auto; object-fit: contain;" />
        </div>
        <div class="vendor-item border p-4 h-100 d-flex align-items-center justify-content-center"
          style="height: 100px;">
          <img src="{% static 'core/img/amd_logo.webp' %}" alt="AMD" class="img-fluid"
            style="max-height: 100%; max-width: 100%; width: auto; object-fit: contain;" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}