.component-card-wrapper {
    display: flex;
    height: 100%;
}
.component-card {
    display: flex;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: 1rem;
    align-items: center;
    background-color: #fff;
    transition: box-shadow .2s ease-in-out;
    width: 100%;
    flex-direction: column;
}
.component-card:hover {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.component-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.component-card .info {
    flex-grow: 1;
    text-align: center;
    width: 100%;
}
.component-card .info h5 {
    margin-bottom: 0.25rem;
}
.component-card .info .spec-list {
    font-size: 0.85rem;
    color: #6c757d;
}
.component-card .actions {
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    margin-top: auto; /* Empuja las acciones hacia abajo */
}
.modal-body .list-group-item {
    cursor: pointer;
}
.modal-body .list-group-item:hover {
    background-color: #f8f9fa;
}
.modal-body .list-group-item.disabled {
    background-color: #f8d7da;
    cursor: not-allowed;
}